* {
	box-sizing: border-box;
	padding: 0;
}
body, html {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #000000; 
  font-family: Sans-Serif;
  height: 100vh;
}
body {
  margin: 0;
  height: 100vh;
  padding: 2px;
}

.box
{
  background-color: #17e9c6;
  position: fixed;
  border-radius: 50%;
  filter: blur(1px);
}

p {
  width: min(70%, 1500px);
  position: relative;
  margin-top: auto;
  margin-bottom: 2cm;
  padding: 10px;
  min-width: 280px;
  max-width: 80%;
  font-size: min(calc(0.8rem + 0.8vw), 35px);
  background: -webkit-linear-gradient(#63bd61, #17e9c6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center
}

p.legal {
    font-size: min(calc(0.5rem + 0.5vw), 35px);
    background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  padding: 3px;
}



.logo {
    background: -webkit-linear-gradient(#63bd61, #17e9c6);
    -webkit-mask-image: url("images/Logo.svg");
    mask-image: url("images/Logo.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100%;
}

a.social#instagram {
    -webkit-mask-image: url("images/iconmonstr-instagram-11.svg");
    mask-image: url("images/iconmonstr-instagram-11.svg");
}

a.social#mail {
    -webkit-mask-image: url("images/iconmonstr-email-10.svg");
    mask-image: url("images/iconmonstr-email-10.svg");
}


a.social#spotify {
    -webkit-mask-image: url("images/iconmonstr-spotify-1.svg");
    mask-image: url("images/iconmonstr-spotify-1.svg");
}

a.social#facebook {
    -webkit-mask-image: url("images/iconmonstr-facebook-4.svg");
    mask-image: url("images/iconmonstr-facebook-4.svg");
}

a.social {
    background: -webkit-linear-gradient(#63bd61, #17e9c6);
    display: inline-block;
    height: 40px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 40px;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    background-color: #000000;
}

h1 {
    text-align: center;
    font-size: calc(min(8vw, 100px, 10vh));
    background: -webkit-linear-gradient(#63bd61, #17e9c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    margin-block-start: 0.8em;
    margin-block-end: 0.1em;
  }

h2 {
    text-align: center;
    font-size: calc(min(4vw, 50px, 7vh));
    background: -webkit-linear-gradient(#63bd61, #17e9c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    margin-block-start: 0.8em;
    margin-block-end: 0.13em;
}

h3 {
    text-align: center;
    font-size: calc(min(3vw, 34px,5vh));
    background: -webkit-linear-gradient(#63bd61, #17e9c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    margin-block-start: 0px;
    margin-block-end: 10px;
    padding: 5px;
}

a.navigation{
    text-align: center;
    display: inline-block;
    font-size: calc(min(5vw, 34px));
    background: -webkit-linear-gradient(#63bd61, #17e9c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    margin-right: min(0.5vw, 0.5cm);
    margin-left: min(0.5vw, 0.5cm);
    padding: 5px;
}


.scroller {
  height: 90%;
  top: min(max(19vw, 160px), 350px);
  overflow-x: hidden;
  font-family: sans-serif;
  scroll-padding: 0;
  /* position: fixed; */
  scroll-behavior: smooth;
  scroll-padding-bottom: 4em;
  scroll-snap-type: y mandatory;
  display: grid;
  background-color: #000000;
}

.scroller::-webkit-scrollbar {
    width: 23px;
  }
  
@media (pointer: coarse) and (hover: none) { 
    .scroller::-webkit-scrollbar{
        display:none;
    }
}
  /* Track */
  .scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
  }
   
  /* Handle */
  .scroller::-webkit-scrollbar-thumb {
    background: rgba(99, 189, 97, 0.7);
    border-radius: 10px;
    border-right: 4px black solid;
    border-left: 4px black solid;
    background-clip: padding-box;
  }
  
  /* Handle on hover */
  .scroller::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(#63bd61, #17e9c6);
  }


  
  .image-scroller::-webkit-scrollbar {
    width: 23px;
  }
  
  /* Track */
  .image-scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
  }
   
  /* Handle */
  .image-scroller::-webkit-scrollbar-thumb {
    background: rgba(99, 189, 97, 0.7);
    border-radius: 10px;
    border-right: 4px black solid;
    border-left: 4px black solid;
    background-clip: padding-box;
  }
  
  /* Handle on hover */
  .image-scroller::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient(#63bd61, #17e9c6);
  }


.image-scroller {
    height: 90%;
    top: min(max(19vw, 160px), 350px);
    overflow-x: hidden;
    font-family: sans-serif;
    scroll-padding: 0;
    scroll-behavior: smooth;
    scroll-padding-bottom: 4em;
    display: grid;
    background-color: #000000;
  }

.scroller section {
    display: flex;
  scroll-snap-align: start;
  border-right: 1px solid white;
	width: 80%;
    height:auto;
	min-width: 101vw;
	text-align: center;
	position: relative;
  scroll-behavior: smooth;
  scroll-margin-top: 1em;
  justify-content: center;
  flex-direction: column;
align-items: center;
}

.image-scroller section {
    display: flex;
    scroll-snap-align: start;
    border-right: 1px solid white;
    width: 80%;
    height: auto;
    min-width: 101vw;
    max-height: 130vh;
    text-align: center;
    position: relative;
    scroll-behavior: smooth;
    scroll-margin-top: 1em;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}



div#text {
    display: flex;
    width: min(70%, 1500px);
    justify-content: center;
}

section#top{
    margin: auto;
    height: min(max(min(6vw, 10%), 13vw), 300px);
    display:flex;
    flex-wrap: wrap;
    width: min(70%, 1500px);
    justify-content: center;
}
a.logo{
    display: block;
    margin: auto;
    height: min(max(min(6vw, 10%), 13vw), 300px);
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: #000000;
}

section#socials{
    width: 100%;
    height: 50px;
    padding: 5px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#links{
    padding: 5px;
    width: 100%;
    height: 54px;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}


section#links::after {
    content: '';
    position: relative;
    border: 2px solid #63bd61;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: min(50%, 1000px);
    margin: auto;
    margin-bottom: 1px;
}

div#content {
    height: 100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}

div#wrap {
    max-width: 700px;
    display:flex;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    padding: 1em;
  }

section#sun{
  height: calc(min(60vh, 80vw));
}

img#sun {
    width: min(60vh, 90vw);
    max-width: min(700px, 70vw);
    padding-top: 30px;
}


section#band{
    height: calc(min(70vh, 100vw));
  }

section#windmill{
    height: 100%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#artworkcredit {
    position: relative;
    height: calc(min(3vw, 34px) + 10px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div#links {
    position: relative;
    height: calc(min(5vw, 34px) + 10px);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


div#link {
    position: relative;
    height: calc(min(3vw, 34px) + 10px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#links h3{
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin: 0
    }


img.gallery {
    max-width: 700px;
    padding-top: 30px;
}

img.gallery.last {
    max-width: 700px;
    padding-top: 30px;
    padding-bottom: 2cm;
}

img#Band {
    width: min(55vh, 90vw);
    max-width: 900px;
    min-width: min(450px, 90vw);
    padding-top: 30px;
}

section#news{
    height: calc(min(70vh, 60vw));
    width: 80%;
    margin: auto;
}

section#windmill{
    max-height: calc(min(90vw,1459px));
    height: 90vw;
}

section#history{
    width: 80%;
    height: 80%;
    margin: auto;
}

img#windmill{
    max-width: 1459px;
    width: 90%;
}


section#songs {
    height:80%;
    margin: auto;
}
img#songs{
    width:50%; 
    max-width: 400px;;
}

div.textholder {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

div#imagecontainer {
  padding: 10px
}
section#images{
  min-height: 60vh; 
  padding-top: 30px;
}

section#social{
  padding-top: 30px;
}

section#footer{
    min-height: 10vh; 
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 10px
  }
  
a.footer:any-link{
background-color: rgb(0, 0, 0);
text-decoration: underline 0.15em rgb(255, 255, 255);
color: white;
margin-top: 10px
}


.container :any-link{
    background-color: rgb(0, 0, 0);
    text-decoration: underline 0.15em rgb(255, 255, 255);
    color: white;
    margin-top: 10px
    }
.container a:hover{
    background: -webkit-linear-gradient(#63bd61, #17e9c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: -webkit-linear-gradient(#63bd61, #17e9c6);
    text-decoration: underline 0.15em -webkit-linear-gradient(#63bd61, #17e9c6);
    transition: text-decoration-color 0.4s;
}


.container {
    max-width: 1210px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh
}

.one-fourth.column{
    text-align: center;
    display: inline-block;
    margin-right: min(0.5vw, 0.5cm);
    margin-left: min(0.5vw, 0.5cm);
    padding: 5px;
}

a.footer:hover{
    background: -webkit-linear-gradient(#63bd61, #17e9c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: -webkit-linear-gradient(#63bd61, #17e9c6);
    text-decoration: underline 0.15em -webkit-linear-gradient(#63bd61, #17e9c6);
    transition: text-decoration-color 0.4s;
}

h1.link a:hover{
    background: -webkit-linear-gradient(#63bd61, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
}
h2.link a:hover{
    background: -webkit-linear-gradient(#63bd61, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
}
h3.link a:hover{
    background: -webkit-linear-gradient(#63bd61, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
}

a.navigation:hover{
    background: -webkit-linear-gradient(#63bd61, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
}





/* Gimmicks */

.star-wars {
    /* Flexbox to center the entire element on the screen */
    display: flex;
    justify-content: center;
    /* This is a magic number based on the context in which this snippet is used and effects the perspective */
    height: 800px;
    /* This sets allows us to transform the text on a 3D plane, and is somewhat a magic number */
    perspective: 400px;
    /* The rest is totally up to personal styling preferences */
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
  }

  .crawl {
    /* Position the element so we can adjust the top property in the animation */
    position: relative;
    /* Making sure the text is fully off the screen at the start and end of the animation */
    top: -100px;
    /* Defines the skew origin at the very center when we apply transforms on the animation */
    transform-origin: 50% 100%;
  }

  .fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
    }

  @keyframes crawl {
    0% {
      /* The element starts below the screen */
      top: 0;
      /* Rotate the text 20 degrees but keep it close to the viewer */
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
      top: -6000px;
      /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
      transform: rotateX(25deg) translateZ(-2500px);
    }}
    